
        *{padding:0;margin:0;}
        caption{font-size:14px;font-weight:bold;}
        table{ border-collapse:collapse;border:1px #525152 solid;width:50%;margin:0 auto;margin-top:100px;}
        th,td{border:1px #525152 solid;text-align:center;font-size:12px;line-height:30px;}


        /*模擬對角線*/
        .out{
            border-top:40px #D6D3D6 solid;/*上邊框寬度等於表格第一行行高*/
            width:0px;/*讓容器寬度為0*/
            height:0px;/*讓容器高度為0*/
            border-left:80px #BDBABD solid;/*左邊框寬度等於表格第一行第一格寬度*/
            position:relative;/*讓裡面的兩個子容器絕對定位*/
        }
        b{font-style:normal;display:block;position:absolute;top:-40px;left:-40px;width:35px;}
        em{font-style:normal;display:block;position:absolute;top:-25px;left:-70px;width:55x;}


